---
import Section from "../Section.astro"

import {education} from "@cv"
---

<Section title="Educación">
    <ul>
        {education.map(({institution, area, startDate, endDate, studyType }) =>{
          
            return(
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{institution}</h3>
                                <h4>{area}</h4>
                            </div>
                        </header>
                    </article>
                    <footer>
                        <p>{studyType}</p>
                        <span>{startDate} - {endDate? endDate : 'Presente'}</span>
                    </footer>
                </li>
            )
        })}
    </ul>
</Section>
<style>
    ul{
       display: flex;
       flex-direction: column;
       gap: 32px;
    }
    span{
        font-size: 0.7rem;
        color: #888;
        margin-bottom: 4px;
    }
    article h3{
        font-weight: 500;
        color: #111
    }
    article h4{
        font-weight: 400;
        color:#222
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
</style>